.Header {
	display: flex;
	flex-shrink: 0;
	background-color: #24292e;
	padding: 1rem;
	align-items: center;
}

.Header-Title {
	margin: 0;
	color: white;
}

.Header-Logo {
	width: 48px;
	margin-right: 1rem;
}
